@import "variables";

.btn-outline-secondary {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-color: $input-border-color;
  background-color: $input-bg;
  
  i {
    color: $gray-500;
  }
}