@import "variables"; // Custom variables


.list-group-item {
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: translateY(-3px);
    }

    &.active {
        transform: translateY(-3px);
    }
}


.sub-category-list-container {
    border-left: 2px solid $gray-300;
    padding: 0.5rem 0;
}

// Styling for the total breakdown in the cart
.card hr.total-divider {
  border-top: 1px dashed #dee2e6;
  margin: 1rem 0;
}

.card .d-flex span.fw-bold {
  color: #333; // Darker color for prices
}

// Ensure the mobile footer is professional and fixed at the bottom
.mobile-footer {
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); // Add a subtle shadow
  z-index: 1000;
}

.mobile-cart .offcanvas-body {
  // We'll manage the scrollable part with a new class inside the body
  padding-bottom: 0;
}

// New class for the scrollable list of items
.mobile-cart .list-group-mb-3 {
    max-height: 100%; // Adjusted dynamically based on the footer size
    overflow-y: auto;
}

// Ensure category and cart have consistent styles
.category-list-container,
.service-list-container,
.cart-items-container {
    max-height: 25rem;
    overflow-y: auto;
}


@media (max-width: 767px) {
   .category-list-container,
  .service-list-container,
  .cart-items-container {
      max-height: 15rem; // shorter on mobile for all three lists
  }
}